<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <label for="number1Input">Number 1</label>
        <input type="text" name="number1Input" v-model="numberOne" v-on:change="calculate">
        <label for="number2Input">Number 2</label>
        <input type="text" name="number2Input" v-model="numberTwo" v-on:change="calculate">
        <select v-model="operator" v-on:change="calculate">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
          </select>
        <p>Result of {{numberOne}} {{operator}} {{numberTwo}} = {{ result }}</p>        
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            numberOne: 0,
            numberTwo: 0,
            result: 0,
            operator: '+',
            operations: {}
        },
        methods: {
            calculate: function () {
                this.result = this.operations[this.operator]();
            },
            onSomar: function () {
                return Number(this.numberOne) + Number(this.numberTwo);
            },
            onSubtrair: function () {
                return Number(this.numberOne) - Number(this.numberTwo);
            },
            onMultiplicar: function () {
                return Number(this.numberOne) * Number(this.numberTwo);
            },
            onDivir: function () {
                return Number(this.numberOne) / Number(this.numberTwo);
            }
        },
        created: function () {
            this.operations = {
                '+': this.onSomar,
                '-': this.onSubtrair,
                '*': this.onMultiplicar,
                '/': this.onDivir
            }
        }
    })
</script>

</html>