<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <label for="userInput">User</label>
        <input type="text" name="userInput" v-model="user">
        <label for="userInput">Password</label>
        <input type="password" name="passwordInput" v-model="password">
        <button v-on:click="onLogin">Go!</button>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user: '',
            password: '',
            allowedUsers: []
        },
        methods: {
            onLogin: function () {
                let found = this.allowedUsers.find(userLogin => userLogin.user == this.user);

                if (found.password == this.password)
                    alert(`Logged with user '${this.user}' sucessful.`)
                else
                    alert(`Unallowed login with user '${this.user}', try again.`)
            }
        },
        created: function () {
            fetch('https://api.myjson.com/bins/y0ad2').then(res => res.json()).then(json => {
                this.allowedUsers = json;
            })
        }

    })
</script>

</html>